MANAGER_BIND=127.0.0.1
MANAGER_PORT=9000
MANAGER_DATA=/var/lib/clewdr-manager
MANAGER_IMAGE=ghcr.io/xerxes-2/clewdr:v0.13.5
MANAGER_MAX_INFLIGHT=4
MANAGER_QUEUE_SIZE=16
MANAGER_QUEUE_SECONDS=15
MANAGER_RETRY_ATTEMPTS=3
MANAGER_FAILURE_THRESHOLD=3
MANAGER_REQUEST_SECONDS=150
MANAGER_WORKER_SECONDS=60
MANAGER_UPDATE_SECONDS=86400
MANAGER_FOLLOW=master
MANAGER_AUTO_UPDATE=true
CLEWDR_PASSWORD=replace-with-a-strong-api-password
CLEWDR_ADMIN_PASSWORD=replace-with-a-different-admin-password
